@import "../../../variables";

.map{
    width: 95vw;
    height: 78vh;
    margin-left: auto;
    margin-right: auto;
}

.map-item {
    padding: 20px;
    color: $txt_color3;
    background-color: $bg_color0;
    border: 3px solid $brdr_color1;
    border-radius: 15px;
    width: 200px;
    height: auto;
}
